﻿@model CorinthParts.ViewModels.MasterListViewModel
<h2>Part Orders For: @ViewBag.CustomerName</h2>
<hr />
<div>
    @if (@Model.MasterLists.Count > 0)
    {
        <div class="form-group pull-right">
            <input type="text" class="search form-control" placeholder="Search...">
        </div>
        <span class="counter pull-right"></span>
            <table class="table table-striped table-bordered table-hover results">
                <thead>
                    <tr>
                        <td>Customer</td>
                        <td>CustomerPo</td>
                        <td>Ship Style</td>
                        <td>Serial</td>
                        <td>Part Status</td>
                        <td>Stock Style</td>
                        <td>Stock Description</td>
                        <td>Tracking #</td>
                        <td>Invoice</td>
                        <td>Ship With PO</td>
                        <td>Captured On</td>
                        <td>WO Complted On</td>
                        <td>Name</td>
                        <td>Ship Address 1</td>
                        <td>Ship Address 2</td>
                        <td>Ship City</td>
                        <td>Ship State</td>
                        <td>Ship Postal Code</td>
                    </tr>
                    <tr class="warning no-result">
                        <td colspan="8"><i class="fa fa-warning"></i> No results</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var m in @Model.MasterLists)
                    {
                        <tr>
                            <td>@m.Customer</td>
                            <td>@m.CustomerPo</td>
                            <td>@m.ShipStyle</td>
                            <td>@m.Serial</td>
                            <td>@m.PartStatus</td>
                            <td>@m.StockStyle</td>
                            <td>@Html.Raw(Html.Encode(@m.StockDescription).Replace(Environment.NewLine, "<br />"))</td>
                            <td>
                                @if (m.TrackingNumber != null)
                                {
                                    <a href="http://wwwapps.ups.com/WebTracking/track?track=yes&trackNums=@m.TrackingNumber" target="_blank">@m.TrackingNumber</a>
                                }
                            </td>
                            <td>@m.Invoice</td>
                            <td>@m.ShipWithPo</td>
                            <td>@m.CapturedOn.ToShortDateString()</td>
                            <td>@m.WoCompletedOn.ToShortDateString()</td>
                            <td>@m.Name</td>
                            <td>@m.ShipAddress1</td>
                            <td>@m.ShipAddress2</td>
                            <td>@m.ShipCity</td>
                            <td>@m.ShipState</td>
                            <td>@m.ShipPostalCode</td>   
                        </tr>
                    }
                </tbody>
            </table>
    }
    else
    {
        <div class="jumbotron">
            <p><strong>Whoops!</strong>  No items were found for you.</p>
        </div>
    }
</div>
