﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corinthian Furniture</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/admin/index" class="navbar-brand">
                    <img src="@Url.Content("~/Content/LOGO.png")" height="30" width="80" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @if (Request.IsAuthenticated)
                    {
                        <li>
                            <form action="/account/logoff" method="post">
                                <p class="navbar-btn">
                                    <button type="submit" class="btn btn-default">Log Off</button>
                                </p>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Log In", "login", "account")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @if (TempData["UserMessage"] != null)
        {
            <div class="alert alert-info alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Heads up!</strong> @TempData["UserMessage"].ToString()
            </div>
        }

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Corinthian Furniture</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
